[submodule "sources/obra-superpowers"]
	path = sources/obra-superpowers
	url = https://github.com/obra/superpowers.git
[submodule "sources/mattpocock-skills"]
	path = sources/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "sources/prenode-claude-skills-lab"]
	path = sources/prenode-claude-skills-lab
	url = git@github.com:prenode/claude-skills-lab.git
[submodule "sources/prenode-claude-skills"]
	path = sources/prenode-claude-skills
	url = git@github.com:prenode/claude-skills.git
